body {
    background-color: black;
    font-family: 'Economica', sans-serif;
    color: blanchedalmond;
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 200px repeat(16, auto);
    padding: 20 20 20 20;
}

.item {
    border-radius: 1px;
    height: 600px;
    border-style:ridge;
    border-color: #974;
    border-width: 26px;
}

.item0 {
    border-radius: 1px;
    height: 600px;
    border-top-style: outset;
    border-bottom-style: inset;
    border-color: #333;
    border-width: 45px;}
    

.item1 {
    border-radius: 1px;
    height: 600px;
    border-style:double; 
    border-width: 9px;
}

.itemleft {
    text-align: right;   
}