.center header {
    background-color: var(--first-color);
    color: white;
}
header {
    background-color: blueviolet;
    flex: 0 0 40px;
    color: white;
    
    /* justify-content: center; */
    padding: 20px;
}
header nav {
    background-color: transparent;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
header nav a {
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.center header nav a:hover {
    text-decoration: underline
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}