
header {
    display: flex;
    /*display: flexbox;*/
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

header {
    background-color: beige;
    flex: 20 0 40px;
    color: gray;
    
    /* justify-content: center; */
    padding: 15px;
}

footer {
    display: flex;
    /*display: flexbox;*/
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

footer {
    background-color: beige;
    flex: 20 0 40px;
    color: gray;
    
    /* justify-content: center; */
    padding: 15px;
}