.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(10,atuo);
}

.item3 {
    background-color: slateblue;
    grid-column: 2;
    grid-row: 1/ span 10;
}