
.container {
    display: grid;
    grid-gap: 20px;
    border-width: 4px;
    grid-template-columns: 100px 10fr 100px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "adv1 content adv2"
    "footer footer footer";

}

.header {
    grid-area: header;
    
}

.adv1 {
    grid-area: adv1;
}

.footer {
    grid-area: footer;
}