P {
    font-family: 'Quintessential', cursive;
    font-size: 16px;

}
.div1 {
    display: grid;
    grid-template: auto / auto;
    grid-template-areas: 
    "images button"
    "images info"
    "footer footer"
    ;
}

@media screen and (max-width:50em){
    .div1 {
        grid-template: auto / auto;
        grid-template-areas: 
        "images"
        "button"
        "info"
        "footer"
    ;
}
}

.div2 {
    grid-area: images;
    width: fit-content;
    height: fit-content;
    margin: 5px;
    justify-self: center;

}

.div3 {
    grid-area: info;
    margin: 0px;
    justify-self: center;

}

.div4 {
    grid-area: button;
    margin: 0px;
    align-self: flex-end;
    justify-self: center;
}

.div5 {
    grid-area:footer;
    margin: 0px;
    background-color: lightgray;
    justify-self: center;

}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    cursor: pointer;
}